# flyctl launch added from .gitignore
# Build
dist
lib
lib-types
server

# Development
**/node_modules

# Cache
**/.cache
**/.mf
**/.rollup.cache
**/tsconfig.tsbuildinfo

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Editor
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Yarn
**/.yarn/*
!**/.yarn/releases

# Cloudflare
**/functions/**/*.js

# flyctl launch added from node_modules/@chainsafe/as-sha256/build/.gitignore
node_modules/@chainsafe/as-sha256/build/**/*.wasm.map
node_modules/@chainsafe/as-sha256/build/**/*.asm.js

# flyctl launch added from node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/.gitignore
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_inv
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_ecdh
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_ecmult
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_sign
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_verify
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_schnorr_verify
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_recover
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/bench_internal
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/tests
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/exhaustive_tests
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/gen_context
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.exe
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.so
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.a
!node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/.gitignore

node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/Makefile
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/configure
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/.libs
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/Makefile.in
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/aclocal.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/autom4te.cache
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/config.log
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/config.status
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.tar.gz
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.la
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/libtool
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/.deps
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/.dirstamp
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.lo
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*.o
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/*~
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h.in
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/src/ecmult_static_context.h
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/config.guess
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/config.sub
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/depcomp
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/install-sh
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/ltmain.sh
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/libtool.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/lt~obsolete.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltoptions.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltsugar.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltversion.m4
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/missing
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/compile
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/build-aux/test-driver
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/src/stamp-h1
node_modules/ethereumjs-util/node_modules/secp256k1/src/secp256k1/**/libsecp256k1.pc

# flyctl launch added from node_modules/jayson/.gitignore
node_modules/jayson/node_modules
node_modules/jayson/**/.*
!node_modules/jayson/**/.gitignore
!node_modules/jayson/**/.travis.yml
!node_modules/jayson/**/.jshintrc
!node_modules/jayson/**/.npmignore
node_modules/jayson/coverage
node_modules/jayson/yarn-error.log

# flyctl launch added from node_modules/secp256k1/src/secp256k1-src/.gitignore
node_modules/secp256k1/src/secp256k1-src/**/bench_inv
node_modules/secp256k1/src/secp256k1-src/**/bench_ecdh
node_modules/secp256k1/src/secp256k1-src/**/bench_ecmult
node_modules/secp256k1/src/secp256k1-src/**/bench_sign
node_modules/secp256k1/src/secp256k1-src/**/bench_verify
node_modules/secp256k1/src/secp256k1-src/**/bench_schnorr_verify
node_modules/secp256k1/src/secp256k1-src/**/bench_recover
node_modules/secp256k1/src/secp256k1-src/**/bench_internal
node_modules/secp256k1/src/secp256k1-src/**/tests
node_modules/secp256k1/src/secp256k1-src/**/exhaustive_tests
node_modules/secp256k1/src/secp256k1-src/**/gen_context
node_modules/secp256k1/src/secp256k1-src/**/*.exe
node_modules/secp256k1/src/secp256k1-src/**/*.so
node_modules/secp256k1/src/secp256k1-src/**/*.a
!node_modules/secp256k1/src/secp256k1-src/**/.gitignore

node_modules/secp256k1/src/secp256k1-src/**/Makefile
node_modules/secp256k1/src/secp256k1-src/**/configure
node_modules/secp256k1/src/secp256k1-src/**/.libs
node_modules/secp256k1/src/secp256k1-src/**/Makefile.in
node_modules/secp256k1/src/secp256k1-src/**/aclocal.m4
node_modules/secp256k1/src/secp256k1-src/**/autom4te.cache
node_modules/secp256k1/src/secp256k1-src/**/config.log
node_modules/secp256k1/src/secp256k1-src/**/config.status
node_modules/secp256k1/src/secp256k1-src/**/*.tar.gz
node_modules/secp256k1/src/secp256k1-src/**/*.la
node_modules/secp256k1/src/secp256k1-src/**/libtool
node_modules/secp256k1/src/secp256k1-src/**/.deps
node_modules/secp256k1/src/secp256k1-src/**/.dirstamp
node_modules/secp256k1/src/secp256k1-src/**/*.lo
node_modules/secp256k1/src/secp256k1-src/**/*.o
node_modules/secp256k1/src/secp256k1-src/**/*~
node_modules/secp256k1/src/secp256k1-src/**/src/libsecp256k1-config.h
node_modules/secp256k1/src/secp256k1-src/**/src/libsecp256k1-config.h.in
node_modules/secp256k1/src/secp256k1-src/**/src/ecmult_static_context.h
node_modules/secp256k1/src/secp256k1-src/**/build-aux/config.guess
node_modules/secp256k1/src/secp256k1-src/**/build-aux/config.sub
node_modules/secp256k1/src/secp256k1-src/**/build-aux/depcomp
node_modules/secp256k1/src/secp256k1-src/**/build-aux/install-sh
node_modules/secp256k1/src/secp256k1-src/**/build-aux/ltmain.sh
node_modules/secp256k1/src/secp256k1-src/**/build-aux/m4/libtool.m4
node_modules/secp256k1/src/secp256k1-src/**/build-aux/m4/lt~obsolete.m4
node_modules/secp256k1/src/secp256k1-src/**/build-aux/m4/ltoptions.m4
node_modules/secp256k1/src/secp256k1-src/**/build-aux/m4/ltsugar.m4
node_modules/secp256k1/src/secp256k1-src/**/build-aux/m4/ltversion.m4
node_modules/secp256k1/src/secp256k1-src/**/build-aux/missing
node_modules/secp256k1/src/secp256k1-src/**/build-aux/compile
node_modules/secp256k1/src/secp256k1-src/**/build-aux/test-driver
node_modules/secp256k1/src/secp256k1-src/**/src/stamp-h1
node_modules/secp256k1/src/secp256k1-src/**/libsecp256k1.pc
fly.toml
